DEBUG=False
SECRET_KEY=$jgqe5i7qu72^jix+i55y^6d14lihs*tu-^5zcams8l1bp!@7s
MYSQL_ROOT_PASSWORD=root
MYSQL_DATABASE=logo
MYSQL_USER=root
MYSQL_PASSWORD=root
MYSQL_HOST=db
MYSQL_PORT=3306
SELENIUM_URL=http://selenium-hub:4444/wd/hub
LOG_LEVEL=INFO
